<link rel="stylesheet" href="/stylesheets/changeProfile.css" />

<div class="editProfile-wrapper">
  <header class="editProfile-header">
    <button id="leave" class="ui inverted button compact">
      Back to Directory For Admin
    </button>
  </header>

  <div class="ui raised very padded text container segment">
    <center>
      <h2><%= userInformationList.username %></h2>
      <p><%= userInformationList.privilege %> <%= userInformationList.accountStatus %></p>
      <p> </p>
      <p>new username:</p>
      <input type = "text" id="editUsername" value="<%= userInformationList.username %>"/>
      <span id="username-hint"></span>
      <p> </p>
      <p>new password:</p>
      <input type = "text" id="editPassword"/>
      <span id="password-hint"></span>
      <p> </p>
      <!-- <p>privilege:</p>
      <input type = "text" id="editPrivilege" value="<%= userInformationList.privilege %>"/>
      <p>accountStatus:</p>
      <input type = "text" id="editAccountStatus" value="<%= userInformationList.accountStatus %>"/> -->
      <p>privilege:</p>
      <!-- <div class="ui form" >
        <div class="field">
          <select id="editPrivilege">
            <option value="">citizen</option>
            <option value="1">coordinator</option>
            <option value="0" selected>administrator</option>
          </select>
        </div>
      </div> -->
      <p> </p>
      <% switch (userInformationList.privilege) {
        case 'citizen' : %>
        <div class="ui form" >
          <div class="field">
            <select id="editPrivilege">
              <option value="" selected>citizen</option>
              <option value="1">coordinator</option>
              <option value="0">administrator</option>
            </select>
          </div>
        </div>
          <% break;
        
        case 'coordinator' : %>
        <div class="ui form" >
          <div class="field">
            <select id="editPrivilege">
              <option value="">citizen</option>
              <option value="1" selected>coordinator</option>
              <option value="0">administrator</option>
            </select>
          </div>
        </div>
          <% break;
        
        case 'administrator' : %>
        <div class="ui form" >
          <div class="field">
            <select id="editPrivilege">
              <option value="">citizen</option>
              <option value="1">coordinator</option>
              <option value="0" selected>administrator</option>
            </select>
          </div>
        </div>
           <% break;
        
        } %>
        <p> </p>
      <!-- <p>accountStatus:</p>
      <div class="ui form" >
        <div class="field">
          <select id="editAccountStatus">
            <option value="">active</option>
            <option value="1">inactive</option>
          </select>
        </div>
      </div>
      <p>  </p> -->
      <p> </p>
      <button id="edit-button" class="editProfileButton">
        edit profile
        <i class="paper plane outline icon"></i>
      </button>
      <p> </p>

      <!-- old version -->
      <!-- <div class="activeButtonDiv">
        <button id="active-button" class="theActiveButton">
          active this user
          <i class="heart icon"></i>
        </button>
      </div>
      <div class="inactiveButtonDiv">
        <button id="inactive-button" class="theInactiveButton" display="none">
          inactive this user
          <i class="heart outline icon"></i>
        </button>
      </div> -->
      <!-- end -->

      <% if (userInformationList.accountStatus == "active") { %>
        <div class="activeButtonDiv" hidden>
          <button id="active-button" class="theActiveButton">
            active this user
            <i class="eye icon"></i>
          </button>
        </div>
        <div class="inactiveButtonDiv" >
          <button id="inactive-button" class="theInactiveButton">
            inactive this user
            <i class="eye slash icon"></i>
          </button>
        </div>
      <%} else { %>
        <div class="activeButtonDiv" >
          <button id="active-button" class="theActiveButton" >
            active this user
            <i class="eye icon"></i>
          </button>
        </div>
        <div class="inactiveButtonDiv" hidden>
          <button id="inactive-button" class="theInactiveButton" >
            inactive this user
            <i class="eye slash icon"></i>
          </button>
        </div>
      <% } %>

      <!-- <p>username:</p> -->
        <input type = "text" id="oldUserName" value="<%= userInformationList.username %>" hidden/>
      <p> </p>



      <!-- test -->
      <!-- <p>  </p>
      <p>. </p>
      <p>  </p>
      <p>. </p>
      <p>   </p>
      <p>Header Content:</p>
      <p><%= userInformationList.username %></p>
      <p><%= userInformationList.password %></p>
      <p><%= userInformationList.privilege %></p>
      <p><%= userInformationList.accountStatus %></p>
      <p></p>
      <p>My priviledge: <%= userInformationList.myPrivilege %></p> -->
      <!-- test END-->
    </center>
  </div>
</div>

  
  <script src="https://cdn.jsdelivr.net/npm/brownies"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="/javascripts/changeProfile.js"></script>
</div>
